{% extends "ISETKBundle:Template:Template.html.twig" %}

{% block titre %}

    <title>Resultat</title>

{% endblock %}




{% block main %}


    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Resultat</h1>
                    <div class="separator"></div>
                    <p class="text-center">{{ user.prenom }} {{ user.nom }}</p>
                    <p class="text-center">{{ user.Classe.niveau }} {{ user.Classe.filiere }}  {{ user.Classe.classes }}</p>
                    <div class="row">
                        {#<div class="col-sm-4">
                            <div class="icon-box">
                                <i class="fa fa-cloud-upload object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0"></i>
                                <h2>Upload Enseignant</h2>
                                <p>Version actuelle : Emploi du temps pour la 1er semestre 2016.</p>
                            </div>
                        </div>#}
{#                        <div class="col-sm-4">#}
                            <div class="icon-box">
                                <table class="table table-hover">
                                    <TR> 
                                        <TH> NOM MODULES </TH> 
                                        <TH> NOM ENSEIGNANT </TH> 
                                        <TH> COEF </TH> 
                                        <TH> NOTE TP </TH>
                                        <TH> NOTE DS </TH>
                                        <TH> NOTE EXAM </TH>
                                    </TR> 
                                                                  
                                    {% for n in notes %}
                                    <TR> 
                                        <TD> {{ n.Eseignant.Matiere.nom }} </TD> 
                                        <TD> {{ n.Eseignant.prenom }} {{ n.Eseignant.nom }} </TD> 
                                        {% for m in n.Eseignant.Matiere.Coefficient %}
                                        {% for c in Coef %}
                                            {% if c.id == m.id %}
                                                <TD> {{ c.coef }} </TD>
                                            {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                        <TD> {{ n.TP }} </TD> 
                                        <TD> {{ n.DS }} </TD> 
                                        <TD> {{ n.Exam }} </TD> 
                                    </TR> 
                                    {% endfor %}
                                    
                                </table>
                            </div>
{#                        </div>#}
                        {#<div class="col-sm-4">
                            <div class="icon-box">
                                <i class="fa fa-cloud-upload object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="400"></i>
                                <h2>Upload Etudiant</h2>
                                <p>Version actuelle : Emploi du temps pour la 1er semestre 2016.</p>
                            </div>
                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}

